
html {
    background-color: brown;
}

header {
    width: 100%;
}

#main {
    background-color: blue;
    
}
#main-window {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    align-content: center;
    background-color: red;
    padding: 10px;
}

#main-window .image-container img {
    flex: 2;
    max-width: 60%;
    background-color: antiquewhite;
    padding: 10px;
}

#main-window .start-box {
    flex: 1;
    padding: 10px;
    background-color: greenyellow;
}

.start-box .start-box-content {
    background-color: plum;
}




/*
#main {
    display: flex;

}
#main-content {
    display: flex;
    justify-content: space-between;
    background-color: blue;
    flex-wrap: wrap;
    align-items: center;
    flex: 2 0 auto;
    max-width: 70%;
    
}
#sidebar {
    display: flex;
    flex-direction: column;
    flex: 2 1 auto;
}

.flexitem {
    background-color: aquamarine;
    margin: 1rem;
    padding: 10px;
}

*/